<!-- <div class="scrollbar">
  <div class="overflow">
    <div class="content">
      <div class="navlist" *ngFor="let product of productImgList">

        <img class="thumbnail" (click)="AddNewProduct(product)" src="../../../assets/images/{{product.image}}" alt="">
        <div class="middle">
          <div class="text">{{product.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="column" *ngFor="let product of productList;">
    <div class="card">
      <img src="{{product.image}}" style="width:100%">
      <h3>{{product.name}}</h3>
      <p>{{product.price}}</p>
      <p>{{product.quantity}}</p>
      <p><button (click)="AddNewProduct(product)">Add to Cart</button></p>
    </div>
  </div>
</div>