<div class="wrapper">
  <div class="card-header">
    <table class="fixed_headers">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of CardList; let i = index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td> {{product.price}}</td>
            <td>
              <span (click)="DecreaseQunatity(i)" style="background-color: gray; color: white;">-</span>
              <span>{{product.quantity}}</span>
              <span (click)="IncreaseQuantity(i)" style="background-color: gray; color: white;">+</span>
            </td>
            <td>
              {{product.subtotal.toString().length > 6 ? product.subtotal.toString().substring(0,6)+"..." : product.subtotal.toString()}}
              INR</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <!-- <div class="card-footer">
    <table>
      <tbody>
        <tr>
          <th>Sub Total</th>
          <td>
            {{getCardSubTotal().toString().length > 6 ? getCardSubTotal().toString().substring(0,6)+"..."+ ' INR' : getCardSubTotal().toString()+ ' INR'}}
          </td>
          <td>{{CardList.length}} {{CardList.length == 1 ? 'Item' : 'Items'}}</td>

        </tr>
        <tr>
          <th>VAT tax</th>
          <td>
            {{calculateVat().toString().length > 6 ? calculateVat().toString().substring(0,6)+"..."+ ' INR' : calculateVat().toString()+ ' INR'}}
          </td>
          <td>{{CardList.length}} {{CardList.length == 1 ? 'Item' : 'Items'}}</td>

        </tr>
        <tr>
          <th>Discount</th>
          <td>{{ ProductCardForm.get('quantity').value>0 ? Vat +'%' : 'N/A'}}</td>
          <td>
            {{calculateVat().toString().length > 6 ? calculateVat().toString().substring(0,6)+"..."+ ' INR' : calculateVat().toString()+ ' INR'}}
          </td>

        </tr>
        <tr>
          <th>Discount</th>
          <td>{{ProductCardForm.get('quantity').value>0 ? Discount +'%' : 'N/A'}}</td>
          <td>
            {{calculatedDiscount().toString().length > 6 ? calculatedDiscount().toString().substring(0,6)+"..."+ ' INR' : calculatedDiscount().toString()+ ' INR'}}
          </td>

        </tr>
        <tr>
          <th>Total</th>
          <td style="text-align: left;color: green;">
            {{calcualateGrandTotal() + ' INR'}}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="card-footer-btn">
    <button class="button cancel-btn" (click)="BackToProduct()">Back</button>

    <button class="button save-btn" (click)="ProcessSales()">PROCESS SALES</button>

  </div>
</div>